<div class="ui-search-result__wrapper">

    <div class="andes-card andes-card--flat andes-card--default ui-search-result ui-search-result--core andes-card--padding-default andes-card--animated">

        <div class="ui-search-result__image">
            <a href="https://articulo.mercadolibre.com.ar/MLA-896956229-fuente-para-pc-gamer-aureox-600w-arxgp-conector-pcie-8-pin-_JM#searchVariation=68020674602&amp;position=3&amp;type=item&amp;tracking_id=74d90ab1-1370-4783-a834-60367eb74f4c" class="ui-search-link"
                title="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
                <div class="carousel-container arrow-visible">
                    <div class="slick-initialized slick-slider">
                        <button class="prev-button ">
                        </button>
                        <div role="presentation" class="slick-list">
                            <div class="slick-track" style="opacity: 1; transform: translate3d(-568px, 0px, 0px); width: 2840px;">
                                <div data-index="0" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;"><img width="284" height="284" src="https://http2.mlstatic.com/D_NQ_NP_896154-MLA44064142054_112020-W.webp" class="ui-search-result-image__element" alt="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
                                </div>
                                <div data-index="1" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                    <img src="https://http2.mlstatic.com/D_678470-MLA44064118505_112020-O.jpg" class="ui-search-result-image__element" alt="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
                                </div>
                                <div data-index="2" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 284px;">
                                    <img src="https://http2.mlstatic.com/D_942438-MLA44257861968_122020-O.jpg" class="ui-search-result-image__element" alt="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
                                </div>
                                <div data-index="3" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                    <img src="https://http2.mlstatic.com/D_773653-MLA44257861969_122020-O.jpg" class="ui-search-result-image__element" alt="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
                                </div>
                                <div data-index="4" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                </div>
                                <div data-index="5" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                </div>
                                <div data-index="6" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                </div>
                                <div data-index="7" class="slick-slide" tabindex="-1" style="outline: none; width: 284px;">
                                </div>
                            </div>
                        </div>
                        <button class="next-button "></button>
                    </div>
                </div>
            </a>
        </div>
        <a href="https://articulo.mercadolibre.com.ar/MLA-896956229-fuente-para-pc-gamer-aureox-600w-arxgp-conector-pcie-8-pin-_JM#searchVariation=68020674602&amp;position=3&amp;type=item&amp;tracking_id=74d90ab1-1370-4783-a834-60367eb74f4c" class="ui-search-result__content ui-search-link"
            title="Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin">
            <div class="ui-search-result__content-wrapper">
                <div class="ui-search-item__group ui-search-item__group--price">
                    <div class="ui-search-price ui-search-price--size-medium ui-search-item__group__element">
                        <div class="ui-search-price__second-line">
                            <span class="price-tag ui-search-price__part">
                                <span class="price-tag-symbol">$</span>
                            <span class="price-tag-fraction">6.199</span>
                            </span>
                            <span class="ui-search-price__second-line__label"></span>
                        </div>
                    </div>
                </div>
                <div class="ui-search-item__group ui-search-item__group--shipping">
                    <div class="ui-search-item__group__element ui-search-item__group__element--shipping">
                        <p class="ui-search-item__shipping ui-search-item__shipping--free">Envío gratis</p>
                    </div>
                </div>
                <div class="ui-search-item__group ui-search-item__group--title">
                    <h2 class="ui-search-item__title ui-search-item__group__element">Fuente Para Pc Gamer Aureox 600w Arxgp Conector Pcie 8 Pin</h2>
                </div>
            </div>
        </a>
        <div class="ui-search-result__bookmark">
            <form action="/search/bookmarks/MLA896956229" class="ui-search-bookmark" method="POST">
                <button type="submit" class="ui-search-bookmark__btn">
                    <svg class="ui-search-icon ui-search-icon--bookmark ui-search-bookmark__icon-bookmark"
                        viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="1.0" fill-rule="evenodd">
                            <path
                                d="M10.977 2.705C11.93 1.618 13.162 1 14.895 1c3.333 0 5.607 2.152 5.607 6.274 0 .08-.002.16-.005.24-.107 2.596-1.876 5.253-4.737 7.892a33.77 33.77 0 0 1-3.165 2.57 32.447 32.447 0 0 1-1.45.983l-.394.243-.394-.243-.009-.005-.021-.014-.08-.05a32.447 32.447 0 0 1-1.34-.914 33.77 33.77 0 0 1-3.165-2.57c-2.86-2.639-4.63-5.296-4.737-7.892A5.839 5.839 0 0 1 1 7.274C1 3.152 3.274 1 6.607 1c1.733 0 2.966.618 3.918 1.705.056.064.137.165.226.282.09-.117.17-.218.226-.282z">
                            </path>
                        </g>
                    </svg>
                    <svg class="ui-search-icon ui-search-icon--bookmark ui-search-bookmark__icon-bookmark-fill"
                        viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="1.0" fill-rule="evenodd">
                            <path
                                d="M10.977 2.705C11.93 1.618 13.162 1 14.895 1c3.333 0 5.607 2.152 5.607 6.274 0 .08-.002.16-.005.24-.107 2.596-1.876 5.253-4.737 7.892a33.77 33.77 0 0 1-3.165 2.57 32.447 32.447 0 0 1-1.45.983l-.394.243-.394-.243-.009-.005-.021-.014-.08-.05a32.447 32.447 0 0 1-1.34-.914 33.77 33.77 0 0 1-3.165-2.57c-2.86-2.639-4.63-5.296-4.737-7.892A5.839 5.839 0 0 1 1 7.274C1 3.152 3.274 1 6.607 1c1.733 0 2.966.618 3.918 1.705.056.064.137.165.226.282.09-.117.17-.218.226-.282z">
                            </path>
                        </g>
                    </svg>
                </button>
                <input type="hidden" name="logginUrl" value="https://www.mercadolibre.com/jms/mla/lgz/login?platform_id=ML&amp;go=https%3A%2F%2Flistado.mercadolibre.com.ar%2Ffuente-aureox-600w&amp;loginType=explicit">
                <input type="hidden" name="_csrf" value="KRByq5a0-Wna27MW9IDSmJwVKSbLUGLf49kU">
                <input type="hidden" name="method" value="add"><input type="hidden" name="itemId" value="MLA896956229">
            </form>
        </div>

    </div>
</div>